---
layout: page
# All the Tags of posts.
permalink: /tags/
---

<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% assign tag_items = site.tags | sort %}
  
  {% for tag in tag_items %}
    {% assign tag_name = tag | first %}
    {% assign posts = tag | last %}
    <div>
      <a class="tag" href="{{ tag_name | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
        {{ tag_name }}
        <span class="text-muted">{{ posts.size }}</span>
      </a>
    </div>
  {% endfor %}
</div>
